<div class="login-container">
  <div class="login-box">
    <div class="logo">
         <img src="../../../assets/logo.png">
    </div>
    <h2>Expense IQ</h2>
    <p>Let’s get you signed in securely.</p>

    <form [formGroup]="RegisterForm">
        
      <input formControlName="firstName" type="text" placeholder="Firstname" />
      <input formControlName="lastName" type="text" placeholder="Lastname" />
      <input formControlName="username" type="text" placeholder="UserName" />
      <input formControlName="password" type="password" placeholder="Password" />
      
      <button type="submit" class="submit-btn" (click)="OnCreateUser()">Sign Up</button>
    </form>
    <!-- <div class="divider"><span>Or</span></div>
    <button class="login-btn google-btn">
      <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" />
      Continue with Google
    </button> -->


    <p class="signup-text">
      Already a Member ?
      <a href="#">Sign In</a>
    </p>
  </div>
</div>