<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
     
        <!-- <img src="../../../assets/logo.png" alt="Logo" class="logo-img" /> -->
        Welcome User !
    </div>

    <div class="menu">
      <ul class="nav">
        <li routerLink="dashboard" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/dashboard') }">
          <img src="../../../assets/Menu-icons/dashboard.png" class="menu-img" />
          <span class="link-text">Dashboard</span>
        </li>
        <div class="divider"></div>

        <li routerLink="recurring" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/recurring') }">
          <img src="../../../assets/Menu-icons/Recurring.png" class="menu-img" />
          <span class="link-text">Recurring</span>
        </li>
        <div class="divider"></div>

        <li routerLink="wallet" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/wallet') }">
          <img src="../../../assets/Menu-icons/wallet.png" class="menu-img" />
          <span class="link-text">Wallet</span>
        </li>
        <div class="divider"></div>

        <li routerLink="stats" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/stats') }">
          <img src="../../../assets/Menu-icons/stats.png" class="menu-img" />
          <span class="link-text">Stats</span>
        </li>
        <div class="divider"></div>

        <li routerLink="settings" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/settings') }">
          <img src="../../../assets/Menu-icons/settings.png" class="menu-img" />
          <span class="link-text">Settings</span>
        </li>
        <div class="divider"></div>
      </ul>
    </div>
  </div>

  <!-- Main content area -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>