<div class="layout">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="sidebar-header">
      Welcome User !
    </div>

    <div class="menu">
      <ul class="nav">
        <li routerLink="dashboard" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/dashboard') }">
          <img src="../../../assets/Menu-icons/dashboard.png" class="menu-img" />
          <span class="link-text">Dashboard</span>
        </li>
        <div class="divider"></div>

        <li routerLink="recurring" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/recurring') }">
          <img src="../../../assets/Menu-icons/Recurring.png" class="menu-img" />
          <span class="link-text">Recurring</span>
        </li>
        <div class="divider"></div>

        <li routerLink="wallet" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/wallet') }">
          <img src="../../../assets/Menu-icons/wallet.png" class="menu-img" />
          <span class="link-text">Wallet</span>
        </li>
        <div class="divider"></div>

        <li routerLink="stats" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/stats') }">
          <img src="../../../assets/Menu-icons/stats.png" class="menu-img" />
          <span class="link-text">Stats</span>
        </li>
        <div class="divider"></div>

        <li routerLink="settings" routerLinkActive="active-menu" [ngClass]="{ 'active-menu': isActive('/settings') }">
          <img src="../../../assets/Menu-icons/settings.png" class="menu-img" />
          <span class="link-text">Settings</span>
        </li>
      </ul>
    </div>

    <div class="logout-section" (click)="openLogoutPopup(logoutTemplate)" >
      <img src="../../../assets/Menu-icons/logout.png" class="menu-img" />
      <span class="link-text">Logout</span>
    </div>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>

<ng-template #logoutTemplate>
  <div class="popup-overlay">
    <div class="modern-popup-card">
      <div class="modern-popup-icon">
        <span class="warning-icon">!</span>
      </div>

      <h3>Are you sure you want to log out?</h3>
      <p>You’ll need to log in again to access your account.</p>

      <div class="modern-popup-actions">
        <button class="btn-danger" (click)="confirmLogout()">Yes</button>
        <button class="btn-secondary" (click)="closePopup()">Cancel</button>
      </div>
    </div>
  </div>
</ng-template>
