<div class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-btn" (click)="toggleSidebar()">☰</button>

  <div class="sidebar-header">
    <div class="logo-section">
      <img src="../../../assets/Menu-icons/expenses.png" alt="Logo" class="logo-img" /> 
      <!-- <div class="logo-title">Expense IQ</div> -->
    </div>
  </div>

  <div class="menu">
    <ul class="nav">
      <li><img src="../../../assets/Menu-icons/dashboard.png" class="menu-img"> <a (click)="navigatetodashboard()" class="link-text">Dashboard</a></li>
        <div class="divider"></div>
       <li><img src="../../../assets/Menu-icons/Recurring.png" class="menu-img"> <a (click)="navigatetoRecurring()" class="link-text">Recurring</a></li>
           <div class="divider"></div>
       <li><img src="../../../assets/Menu-icons/stats.png" class="menu-img"> <a (click)="navigatetostats()" class="link-text">Stats</a></li>
       <div class="divider"></div>
       <li><img src="../../../assets/Menu-icons/settings.png" class="menu-img"> <a (click)="navigatetosettings()" class="link-text">Settings</a></li>
       <div class="divider"></div>
    </ul>
  </div>
</div>
