<div class="login-container">
  <div class="login-box">
    <div class="logo">
      <img src="../../../assets/logo.png">
    </div>
    <h2>Expense IQ</h2>
    <p>Let’s get you signed in securely.</p>

    <form [formGroup]="LoginForm">
      <input formControlName="UserName" type="text" placeholder="Username" />
      <div class="error" *ngIf="LoginForm.get('UserName')?.touched && LoginForm.get('UserName')?.invalid">
        <span *ngIf="LoginForm.get('UserName')?.errors?.['required']">  Username required</span>
        <span *ngIf="LoginForm.get('UserName')?.errors?.['minlength']"> Minimum 3 Charcters Needed</span>
        <span *ngIf="LoginForm.get('UserName')?.errors?.['maxlength']"> Max 20 Charcters Allowed</span>
      </div>

      <input formControlName="password" type="password" placeholder="Password" />
     <div class="error" *ngIf="LoginForm.get('password')?.touched && LoginForm.get('password')?.invalid">
        <span *ngIf="LoginForm.get('password')?.errors?.['required']">Password required</span>
        <span *ngIf="LoginForm.get('password')?.errors?.['pattern']"> PasswordShould match Pattern</span>
      </div>
     
      <button type="submit" class="submit-btn" (click)="LoginUser()">Log In</button>
    </form>
  

    <p class="signup-text">
      Don’t Have an Account?
      <a [routerLink]="'/user/register'">Sign Up</a>
    </p>
  </div>
</div>